.photo__body {
  margin: auto;
}
.photo__h1 {
  color: #ffffff;
}
.photo__menu {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #6c788e;
}
.photo_container {
  display: flex;
  height: 600px;
  padding: 24px;
  background-color: #ededf2;
  box-shadow: inset 0px 0px 36px -5px #6c788e;
  margin: 32px auto;
  width: 90%;
}
.photo__img_container {
  display: flex;
  justify-content: center;
  width: 50%;
  border: 16px white solid;
  padding: 24px 0;
  box-shadow: inset 0px 0px 36px -5px #6c788e;
}

.photo__img_container img {
  object-fit: contain;
  width: 100%;
}

.photo__image_info {
  padding: 0 24px;
  width: 50%;
}
.photo__image_description {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.photo__download_btn {
  float: left;
  background-color:#6c788e ;
  color: white;
  font-size: 18px;
  font-family: 'Montserrat';
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 16px;
}