@media screen and (min-width: 280px) {
  .card_main {
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  .cool_bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 16px auto ;
    width: 95%;
    background-color: #ededf2;
    height: auto;
    max-height: 800px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 36px -5px #6c788e;
  }
  .card__img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 16px white solid;
    padding: 24px 0;
    box-shadow: inset 0px 0px 36px -5px #6c788e;
  }
  .card__img_container img {
    object-fit: contain;
    height: 100%;
    z-index: 1000;
  }
  .card__text_container {
    padding: 0 12px;
    z-index: 1000;
  }
  .card__text_container .card__description {
    text-align: left;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
  }
  .card__text_container .card__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    height: 100%;
    margin: auto;
    width: 100%;
  }
  .card__img_container {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    flex-direction: row;
    height: 400px;
  }
  .card__img_container {
    width: 50%;
  }
  .card__text_container {
    padding: 0 12px;
    z-index: 1000;
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    flex-direction: row;
    height: 300px;
  }
  .card__img_container {
    width: 50%;
  }
}